* {
  user-select: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  letter-spacing: 1px;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .actived {
    cursor: default !important;
    transform: none !important;
  }
  .animation {
    -webkit-transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    &:hover {
      --tw-scale-x: 1.05;
      --tw-scale-y: 1.05;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
        skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
  }
  .bg_listItem {
    background: linear-gradient(90deg, #0390e500 0%, #0390e51f 34%, #0390e517 63%, #0390e500 99%);
  }
  .tag_ok,
  .tag_ng,
  .tag_tip {
    font-size: 1.8vw;
    height: 2.5vh;
    line-height: 2.5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .tag_ok {
    color: #5fcc34;
    background: #5fcc3433;
  }
  .tag_ng {
    color: #fa5151;
    background: #b4050599;
  }
  .tag_tip {
    color: #ffffff;
    background: #00000033;
  }
  .btn_search {
    background: #3662ec;
    border: 0;
    color: #ffffff;
    height: 2.6vh;
    font-size: 2vw;
    border-radius: 0;
    &:hover {
      --tw-scale-x: 1.05;
      --tw-scale-y: 1.05;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
        skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
  }
  .btn_search2 {
    background: #3662ec;
    border: 0;
    color: #ffffff;
    height: 2.6vh;
    font-size: 2vw;
    border-radius: 0;
  }
  .btn_normal {
    background: #3662ec;
    border: 0;
    color: #ffffff;
    height: 3.4vh;
    font-size: 2vw;
    border-radius: 0;
    &:hover {
      --tw-scale-x: 1.05;
      --tw-scale-y: 1.05;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
        skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
  }
  .ant-picker-dropdown {
    border-radius: 0px;
    border: 1px solid #ffffff;
    background: #06163d;
    .ant-picker-panel-container {
      background: #06163d;
      .ant-picker-cell-inner,
      .ant-picker-cell-disabled .ant-picker-cell-inner {
        color: #636363;
      }
      .ant-picker-content th {
        color: #ffffff;
      }
      .ant-picker-cell-range-start::before,
      .ant-picker-cell-selected::before,
      .ant-picker-cell-in-range::before {
        background: #3663ec56 !important;
      }
      .ant-picker-cell-selected .ant-picker-cell-inner,
      .ant-picker-cell-range-start .ant-picker-cell-inner {
        background: #3662ec;
      }
      .ant-picker-cell-in-view .ant-picker-cell-inner {
        color: #ffffff;
      }
    }
  }
  .ant-select-dropdown {
    border-radius: 0px;
    border: 1px solid #ffffff;
    background: #06163d;
    padding: 0;
    div div div {
      color: #ffffff;
      font-size: 2vw;
    }
    .ant-select-item-option-selected,
    .ant-select-item-option-actived {
      background: #3662ec !important;
      border-radius: 0;
    }
    .ant-select-item {
      line-height: 3vh;
      height: 3vh;
      padding-top: 0;
    }
  }
  .ant-dropdown-menu {
    background: #3662ec !important;
    padding: 0 !important;
    border-radius: 0px !important;
  }
  .ant-dropdown-menu-item {
    display: block !important;
    line-height: 3vh !important;
    height: 3vh;
    font-size: 2vw !important;
    text-align: center;
    padding: 0 !important;
    border-bottom: 1px solid #ffffff;
    border-radius: 0px !important;
  }
}













/*
#app {
  width: 100%;
  height: 100%;
  background: #0f0f1b;
}

.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.cus-scroll {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

.cus-scroll-x {
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 8px;
  }
}

.cus-scroll-y {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 0;
  }
}

.cus-scroll,
.cus-scroll-x,
.cus-scroll-y {
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #bfbfbf;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgb(var(--primary-color));
    }
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}

// .bg {
//   background-image: url('@/assets/images/shouye/home-bg.png');
//   background-size: 100% 100%;
//   background-repeat: no-repeat;
// }

// .bg-test {
//   background-image: url('@/assets/images/shouye/home-test.png');
//   background-size: 100% 100%;
//   background-repeat: no-repeat;
// }

// .btn-bg-1 {
//   background-image: url('@/assets/images/shouye/btn-bg-1.png');
//   background-size: 100%;
//   background-repeat: no-repeat;
// }

// .btn-bg-2 {
//   background-image: url('@/assets/images/shouye/btn-bg-2.png');
//   background-size: 100%;
//   background-repeat: no-repeat;
// }

// .btn-bg-3 {
//   background-image: url('@/assets/images/shouye/btn-bg-3.png');
//   background-size: 100%;
//   background-repeat: no-repeat;
// }

// .btn-bg-4 {
//   background-image: url('@/assets/images/shouye/btn-bg-4.png');
//   background-size: 100%;
//   background-repeat: no-repeat;
// }
::-webkit-scrollbar {
  width: 1.5vw;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #03163e 0%, #3662ec 53%);
  border-radius: 50px;
}
.keyInput {
  border: #db3e5d 2px solid !important;
}
.tap_tip {
  color: #ffffff;
  background: #00000033;
}
.tap_ok {
  color: #5fcc34;
  background: #5fcc3433;
}
.tap_ng {
  color: #fa5151;
  background: #b4050599;
}
.bg_jianbian {
  background: linear-gradient(90deg, #0390e500 0%, #0390e51f 34%, #0390e517 63%, #0390e500 99%);
  padding: 1vh 0;
}
.btn_normal {
  background: #3662ec;
  border: 0;
  color: #ffffff;
  height: 5.5vh;
  line-height: 4.5vh;
  margin-right: 2vw;
  font-size: 1.3vw;
  width: 10vw;
  &:hover {
    color: #ffffff !important;
    transform: scale(1.05);
  }
}
.btn_search {
  background: #3662ec;
  border: 0;
  color: #ffffff;
  height: 4vh;
  line-height: 1vh;
  font-size: 1.2vw;
  border-radius: 0;
  &:hover {
    color: #ffffff !important;
    transform: scale(1.05);
  }
}
.btn_in {
  background: #3662ec;
  border: 0;
  color: #ffffff;
  height: 3vh;
  line-height: 1vh;
  font-size: 1vw;
  border-radius: 0;
  &:hover {
    color: #ffffff !important;
    transform: scale(1.05);
  }
}
*/