html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  background: #0f0f1b;
}

#app {
  width: 100%;
  height: 100%;
  background: #0f0f1b;
}

/* transition fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* 自定义滚动条样式 */
.cus-scroll {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

.cus-scroll-x {
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 8px;
  }
}

.cus-scroll-y {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 0;
  }
}

.cus-scroll,
.cus-scroll-x,
.cus-scroll-y {
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #bfbfbf;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgb(var(--primary-color));
    }
  }
}

/* 切换主题的动画效果 */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}

// .bg {
//   background-image: url('@/assets/images/shouye/home-bg.png');
//   background-size: 100% 100%;
//   background-repeat: no-repeat;
// }

// .bg-test {
//   background-image: url('@/assets/images/shouye/home-test.png');
//   background-size: 100% 100%;
//   background-repeat: no-repeat;
// }

// .btn-bg-1 {
//   background-image: url('@/assets/images/shouye/btn-bg-1.png');
//   background-size: 100%;
//   background-repeat: no-repeat;
// }

// .btn-bg-2 {
//   background-image: url('@/assets/images/shouye/btn-bg-2.png');
//   background-size: 100%;
//   background-repeat: no-repeat;
// }

// .btn-bg-3 {
//   background-image: url('@/assets/images/shouye/btn-bg-3.png');
//   background-size: 100%;
//   background-repeat: no-repeat;
// }

// .btn-bg-4 {
//   background-image: url('@/assets/images/shouye/btn-bg-4.png');
//   background-size: 100%;
//   background-repeat: no-repeat;
// }
::-webkit-scrollbar {
  width: 1.5vw;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #03163e 0%, #3662ec 53%);
  border-radius: 50px;
}
.keyInput {
  border: #db3e5d 2px solid !important;
}
.tap_tip {
  color: #ffffff;
  background: #00000033;
}
.tap_ok {
  color: #5fcc34;
  background: #5fcc3433;
}
.tap_ng {
  color: #fa5151;
  background: #b4050599;
}
.animation {
  transition: transform 300ms;
  &:hover { transform: scale(1.05); }
}
.actived { cursor: default; transform: none !important; }
.bg_jianbian {
  background: linear-gradient(90deg, #0390e500 0%, #0390e51f 34%, #0390e517 63%, #0390e500 99%);
  padding: 1vh 0;
}
.bg_listItem {
  background: linear-gradient(90deg, #0390e500 0%, #0390e51f 34%, #0390e517 63%, #0390e500 99%);
  &:nth-of-type(even) {
    background: linear-gradient(91deg, #b9b9b933 0%, #b9b9b91f 34%, #b9b9b917 63%, #b9b9b900 99%);
  }
}
.btn_normal {
  background: #3662ec;
  border: 0;
  color: #ffffff;
  height: 5.5vh;
  line-height: 4.5vh;
  margin-right: 2vw;
  font-size: 1.3vw;
  width: 10vw;
  &:hover {
    color: #ffffff !important;
    transform: scale(1.05);
  }
}
.btn_search {
  background: #3662ec;
  border: 0;
  color: #ffffff;
  height: 4vh;
  line-height: 1vh;
  font-size: 1.2vw;
  border-radius: 0;
  &:hover {
    color: #ffffff !important;
    transform: scale(1.05);
  }
}
.btn_in {
  background: #3662ec;
  border: 0;
  color: #ffffff;
  height: 3vh;
  line-height: 1vh;
  font-size: 1vw;
  border-radius: 0;
  &:hover {
    color: #ffffff !important;
    transform: scale(1.05);
  }
}
