@font-face {
  font-family: 'siyaun';
  src: url('./NotoSansCJK.otf');
}
@font-face {
  font-family: 'youshe';
  src: url('./youshe.ttf');
}
@font-face {
  font-family: 'xiaowei';
  src: url('./ZhanKuXiao.otf');
}
